@import "../../styles/1-settings/index";

page-choose-profile {
    .chooseLogin{
        font-size: 1.5rem;
    }
    .chooseLogin__text{
        margin-bottom: 15px;
    }

    .box_buttons{
        .box_option{
            display: inline-block;
            margin: 0 10px;
            vertical-align: top;

            .button_image{
                border: 3px solid white;
                border-radius: 50px;
                width: 100px;
                height: 100px;
                background-position: center;
                background-size: contain;
            }

            .btn_client{
                background-image: url('/assets/imgs/cliente_profile.png');
            }

            .btn_noclient{
                background-image: url('/assets/imgs/cambista_profile.png');
            }

            div{
                text-align: center;
            }
        }
    }

    .chooseLogin__checkLogin{
        border-radius: 5px;
        background-color: transparent;
        outline: none;
        margin-top: 30px;
        border-color: $accent-color; 
        background-color: $accent-color;     
    }
}
