<ion-header profile-background-color>

  <ion-navbar hideBackButton>
      <div class="flex-row-layout ai-center">
        <ion-title>Inicio</ion-title>
        <span class="flex"></span>
        <ion-title class="brand">OTC</ion-title>
        <cancel-transaction-trigger (cancel)="onCancel()" [transaction]="transaction" *ngIf="!hideCancelTrigger"></cancel-transaction-trigger>
      </div>
  </ion-navbar>

</ion-header>


<ion-content padding class="page text-14">
  <div class="fill-height flex-col-layout jc-center">
    <p class="text-center no-margin page-title" *ngIf="transaction.status == '2' && transaction.type == 'SAFE'">
      <b>Pendiente <br> de aprobación</b>
    </p>
    <p class="text-center no-margin page-title"
    *ngIf="transaction.status == '3' || (transaction.status == '2' && transaction.type == 'FAST')">
      <b>Verificando <br> transacción</b>
    </p>
    <div *ngIf="transaction.status == '3' || (transaction.status == '2' && transaction.type == 'FAST')"
    class="text-center">
      <div class="spacer-10"></div>
      <img src="http://157.230.229.87:85/static/imgs/icons/searching.png" alt="" width="30">
    </div>
    <div class="spacer-20"></div>
    <ion-row align-items-center>
      <ion-col col-12 class="text-center"> <span><b>Tu número de <br> transacción es: </b></span> </ion-col>
      <ion-col col-12 class="text-center">
        <ion-badge color="secondary" class="successfulTransactionModal__transationCode pt-5 pb-5 pl-30 pr-30">
          {{ transaction.code }}
        </ion-badge>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="transaction.status == '2' && transaction.type == 'SAFE'">
      <p class="text-center">
        La transacción se encuentra a la <br> 
        espera de aceptación por parte del <br>
        cambista o casa de cambio que has elegido.
      </p>
    </ng-container>
    <ng-container *ngIf="transaction.status == '3' || (transaction.status == '2' && transaction.type == 'FAST')">
      <p class="text-center">
        Validaremos el proceso y a la brevedad <br>
        realizaremos la transferencia que <br>
        corresponde a tu cuenta bancaria.
      </p>      
    </ng-container>
    <div class="text-center">
      <ion-badge color="secondary" class="pt-5 pb-5 pl-25 pr-25">
        {{ transaction.currencyToReceive.symbol }} {{ transaction.amountToReceive.toFixed(2) }}
      </ion-badge>
    </div>
  </div>
</ion-content>
