<ion-header profile-background-color>

    <ion-navbar hideBackButton>
        <div class="flex-row-layout ai-center">
          <ion-title>Inicio</ion-title>
          <span class="flex"></span>
          <ion-title class="brand">OTC</ion-title>
        </div>
    </ion-navbar>

</ion-header>


<ion-content padding class="page">
  <back-button [navCtrl]="navCtrl"></back-button>
  <div class="spacer-20"></div>
  <stepper mode="exchange-agent" [currentStep]="3"></stepper>
  <div class="spacer-20"></div>
  <div>
    <p class="text-center">
      Registre los datos de su cuenta bancaria para recibir el depósito correspondiente
    </p>
  </div>
  <div class="spacer-20"></div>
  <div class="commonSelectBankAccount__form">
    <div radio-group [(ngModel)]="mode">
      <ion-row justify-content-around>
        <ion-col col-auto>
          <ion-row align-items-center>
              <ion-col col-auto>
              <div #casaCambioRadio>
                  <ion-radio mode="md" color="secondary" [value]="'SELECT'" [disabled]="userBankAccountList.length == 0"></ion-radio>
              </div>
              </ion-col>
              <ion-col col-auto (tap)="userBankAccountList.length > 0 && mode = 'SELECT'">
              Seleccionar <br> cuenta existente
              </ion-col>
          </ion-row>        
        </ion-col>
        <ion-col col-auto>
          <ion-row align-items-center>
              <ion-col col-auto>
              <div #cambistaRadio>
                  <ion-radio mode="md" color="secondary" [value]="'NEW'"></ion-radio>
              </div>
              </ion-col>
              <ion-col col-auto (tap)="mode = 'NEW'">
              Agregar una <br> nueva cuenta
              </ion-col>
          </ion-row>        
        </ion-col>
      </ion-row>
    </div>
    <div class="spacer-30"></div>
    <div *ngIf=" mode == 'SELECT' && selectedUserBankAccount ">
      <ion-row align-items-center>
        <ion-col col-5 class="text-muted">Entidad bancaria</ion-col>
        <ion-col col-7>
          <div class="input pos-relative">
            <ng-container *ngFor="let bank of bankList; let i = index;">
              <div class="bank" *ngIf="bank.id == selectedUserBankAccount.bank.id">
                <img [src]="bank.image.fileUrl" alt="" class="bank__image">
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-5 class="text-muted">Apelativo de cuenta</ion-col>
        <ion-col col-7>
          <ion-select [(ngModel)]="selectedUserBankAccount" class="input fill-width"
          [selectOptions]="{ title: 'Cuentas disponibles' }">
            <ion-option [value]="bankAccount" *ngFor="let bankAccount of userBankAccountList">
              {{ bankAccount.apellative }}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-5 class="text-muted">Titular de la cuenta</ion-col>
        <ion-col col-7>
          <input type="text" class="fill-width" readonly [value]="selectedUserBankAccount.holderName">
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-5 class="text-muted">Número de cuenta</ion-col>
        <ion-col col-7>
          <input type="text" class="fill-width" readonly [value]="selectedUserBankAccount.accountNumber">
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-5 class="text-muted">Tipo de cuenta</ion-col>
        <ion-col col-7>
          <input type="text" class="fill-width" readonly [value]="selectedUserBankAccount.currency.name">
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf=" mode == 'NEW'">
      <create-user-bank-account-form [userBankAccountFG]="userBankAccountFG"></create-user-bank-account-form>
    </div>
    <div class="spacer-20"></div>
    <ion-row justify-content-center radio-group [(ngModel)]="acceptTermsAndConditions">
      <ion-col col-auto>
        <div>
          <ion-radio mode="md" color="secondary" [value]="true"></ion-radio>
        </div>
      </ion-col>
      <ion-col col-auto>
        <a href="#" class="text-accent" (tap)="openTermsAndConditions($event)">Aceptar los términos y condiciones</a>
      </ion-col>
    </ion-row>
    <div class="spacer-25"></div>
    <div class="flex-row-layout jc-center">
      <button fluid ion-button color="secondary" (tap)="save()">
        Guardar
      </button>
    </div>
  </div>
</ion-content>
  