<ion-content padding class="page page--money-4">
    <back-button [navCtrl]="nvCtrl"></back-button>
    <div class="login fill-height flex-col-layout jc-center">
        <h4 class="text-center">
            Iniciar sesión
        </h4>
        <div class="spacer-50"></div>
        <ng-container *ngIf="user.userType == '1'">
            <div>
                <p class="text-center">Ingrese los datos de tu cuenta</p>
                <ion-grid radio-group [(ngModel)]="exchangeAgent.type">
                    <ion-row justify-content-around>
                        <ion-col col-auto>
                        <ion-row align-items-center>
                            <ion-col col-auto>
                            <div #casaCambioRadio>
                                <ion-radio mode="md" color="secondary" [value]="'0'"></ion-radio>
                            </div>
                            </ion-col>
                            <ion-col col-auto (tap)="exchangeAgent.type = '0'">
                            Casa de <br> cambio
                            </ion-col>
                        </ion-row>        
                        </ion-col>
                        <ion-col col-auto>
                        <ion-row align-items-center>
                            <ion-col col-auto>
                            <div #cambistaRadio>
                                <ion-radio mode="md" color="secondary" [value]="'1'"></ion-radio>
                            </div>
                            </ion-col>
                            <ion-col col-auto (tap)="exchangeAgent.type = '1'">
                            Cambista
                            </ion-col>
                        </ion-row>        
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ng-container>
        <ng-container *ngIf="user.userType == '0'">
            <button ion-button (tap)="loginWithGoogle()">
                Google
            </button>
        </ng-container>
        <div>
            <input type="email" class="fill-width" [(ngModel)]="user.email"
            placeholder="Correo electrónico">
        </div>
        <div class="spacer-30"></div>
        <div class="login__password pos-relative">
            <input [type]="showPassword ? 'text' : 'password'" class="fill-width" [(ngModel)]="user.password"
            placeholder="Contraseña">
            <div class="login__password__toggler" (tap)="showPassword = !showPassword">
                <ion-icon [name]="showPassword ? 'eye-off' : 'eye' " color="dark"></ion-icon>
            </div>
        </div>
        <div class="spacer-30"></div>
        <div class="text-center">
            <a class="text-accent" href="">Olvidé contraseña</a>
        </div> 
        <div class="spacer-50"></div>
        <div class="text-center">
          <button fluid ion-button color="secondary" (tap)="login()">
            Iniciar sesión
          </button>
        </div>
    </div>
</ion-content>