@import "../../styles/1-settings/index";
@import "../../styles/2-tools/index";

page-person-select-search-mode {
    .personSelecSearchMode{
        &__options{
            height: 320px;
            &__person{
                width: 38%;
                position: absolute;
                left: 0;
                top: 50%;
                @include transform(translateY(-50%));
            }
            &__mode{
                border: 2px solid $accent-color;
                &.active{
                    .personSelecSearchMode__options__mode__label{
                        background-color: rgba($accent-color,.4);
                    }
                }
                &__icon{
                    width: 35px;
                    background-color: $accent-color;
                }
                &__label{
                    width: 165px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
}
