<div class="requestWasRejectedModal flex-col-layout jc-center fill-height">
  <ng-container *ngIf="cancelledBy == 'EXCHANGE_AGENT'">
    <div class="modal-content">
      <p class="text-center" *ngIf="rechazadaCancelada !== 'NO_REVISADA'">
        <b>Tu solicitud ha sido <br> {{ rechazadaCancelada == 'RECHAZADA' ? 'rechazada' : 'cancelada' }} por un agente de cambio
          <!-- <ng-container *ngIf="exchangeAgentType == '0'">
            la casa <br> de cambio.
          </ng-container>
          <ng-container *ngIf="exchangeAgentType == '1'">
            el cambista.
          </ng-container> -->
        </b>
      </p>
      <p class="text-center" *ngIf="rechazadaCancelada === 'NO_REVISADA'">
        <b>Tu solicitud no ha sido <br> revisada por 
          <ng-container *ngIf="exchangeAgentType == '0'">
            la casa <br> de cambio.
          </ng-container>
          <ng-container *ngIf="exchangeAgentType == '1'">
            el cambista.
          </ng-container>
        </b>
      </p>
      <!-- <div class="spacer-15"></div> -->
      <p class="text-center">
        Motivo: <br> {{ rejectionReasonText }}
      </p>
      <!-- <div class="spacer-15"></div> -->
      <p class="text-center" *ngIf="rechazadaCancelada !== 'NO_REVISADA'">
        <b>¿Desea calificar al <br> agente de cambio? </b>
      </p>
    </div>
    <div class="flex-col-layout ai-center" *ngIf="rechazadaCancelada !== 'NO_REVISADA'">
      <button fluid ion-button color="dark" (tap)="viewCtrl.dismiss(true)">
        Sí
      </button>
      <button fluid ion-button color="dark" (tap)="viewCtrl.dismiss(false)">
        No deseo
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="cancelledBy == 'PERSON'">
    <div class="modal-content">
      <p class="text-center">
        <b>Tu solicitud ha sido <br> cancelada por el <br> usuario. </b>
      </p>
    </div>
    <div class="flex-col-layout ai-center">
      <button fluid ion-button color="dark" (tap)="viewCtrl.dismiss()">
        Entendido
      </button>
    </div>
  </ng-container>
</div>