@import "../../styles/1-settings/index";

page-exchange-agents {
  .search-agents{
    display: flex;
    // width: 300px;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 23px;
    color: black;
  }
  .search-agents__input{
    height: 20px !important;
    border: 6px;
    min-height: 21px !important;
    width: 258px;
  }
  .search-agents__select{
    height: 21px;
    width: 19px;
    border:none
  }
  .search-agents__select___option{
    border: solid 0.5px gray;
    height: 15px;
    width: 100px;
    font-size: 12px;
    margin-top: 6px;
    display: flex;
  }
  .exchangue-agents__icon{
    width: 43px;
    height: 46px;
  }
  .exchange-agents__icon-star{
    width: 10px;
    height: 10px;
  }
  .exchange-agents__data{
    background-color: #ffffff;
    width: 80px;
    height: 23px;
    border-radius: 6px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
  }
  .exchange-agents__text{
    height: 23px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 47%;
  }
  .exchange-agents__text2{
    height: 23px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 19%;
  }
  .wapper-text-data{
    margin-bottom: 40px;
  }
  .exchange-agents{
    &__item{      
      padding: 5px;
      padding-left: 8px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 6px solid #000;
      &:nth-child(3n+1){
        border-left-color: $accent-color;
      }
      &:nth-child(3n+2){
        border-left-color: $primary-color;
      }
      &:nth-child(3n){
        border-left-color: $secondary-color;
      }
    }
  }
}
