page-common-my-notifications {
    .myNotifications{
        &__notificationGroup{
            &__header{
                background-color: #6f6f6f;
                padding: 8px 15px;
            }
            &__content{
                &__notification{
                    padding: 8px 15px;     
                    border-bottom: 1px solid rgba(#000,0.2);
                    &__icon{
                        width: 60%;
                    }
                }
            }
        }
    }
    /deep/ .scroll-content{
        background-color: transparent !important;
    }
}
