page-common-my-bank-accounts {
    .myBankAccounts{
        &__bankAccount{
            &__bordered{
                padding: 4px 15px;
                border-left: 4px solid #FFF;
                border-bottom: 1px solid rgba(#000,0.2);
                line-height: 1.5;
            }
            &:nth-child(3n+1){
                .myBankAccounts__bankAccount__bordered{
                    border-left-color: $primary-color;
                }
            }
            &:nth-child(3n+2){
                .myBankAccounts__bankAccount__bordered{
                    border-left-color: $accent-color;                        
                }
            }
            &:nth-child(3n){
                .myBankAccounts__bankAccount__bordered{
                    border-left-color: $secondary-color;                        
                }
            }
            &__bank{
                padding: 3px 20px;
                border-radius: 5px;
                background-color: #FFF;
                width: fit-content;
                img{
                    height: 20px;
                }
                margin: 15px 14px 10px;
            }
        }
    }
}
