<!--
  Generated template for the CommonMyTransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header profile-background-color>
  
    <ion-navbar>
      <div class="flex-row-layout ai-center">
          <ion-title>Historial</ion-title>
          <span class="flex"></span>
          <ion-title class="brand">OTC</ion-title>
      </div>
    </ion-navbar>

</ion-header>


<ion-content class="page">
  
  <div padding>
    <h6 class="no-margin">Todas tus transacciones</h6>
  </div>

  <div class="myTransactions">
    <div class="myTransactions__notificationGroup" *ngFor="let group of transactionsPerMonth">
      <div class="myTransactions__notificationGroup__header">
        <b>{{ group.month }}</b>
      </div>
      <div class="myTransactions__notificationGroup__content">
        <div class="myTransactions__notificationGroup__content__notification" *ngFor="let tx of group.transactions">
          <ion-row align-items-center>
            <ion-col col-2>
              <div class="square w-background-image-top" [style.backgroundImage]="getAvatarUrl(tx)"></div>
            </ion-col>
            <ion-col col-10>
              <ion-row>
                <ion-col col-6 class="text-thin">
                  <span *ngIf="!isPerson">
                    <span>Cliente:</span>&nbsp;<b>{{ tx.person.businessName || tx.person.fullName }}</b>
                  </span>
                  <span *ngIf="isPerson">
                    <span>Casa de cambio:</span>&nbsp;<b>{{ tx.exchangeAgent.name }}</b>
                  </span>
                </ion-col>
                <ion-col col-6>
                  <span>Cantidad:</span>&nbsp;<b>{{ tx.targetCurrency.symbol }} {{ tx.amount.toFixed(2) }}</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <span>Servicio:</span>&nbsp;<b>{{ tx.exchangeAgentOffering.type == 'V' ? 'Venta' : 'Compra' }}</b>                  
                </ion-col>
                <ion-col col-6>
                  <span>Precio total:</span>&nbsp;<b>{{ tx.fromCurrency.symbol }} {{ tx.exchangeAgentOffering.type == 'V' ? 
                      tx.exchangeAgentOffering.requestedCurrencyAmount : 
                      tx.exchangeAgentOffering.receivedCurrencyAmount
                    }} </b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <span>Tipo de moneda:</span><br/><b>{{ tx.targetCurrency.name }}</b>
                </ion-col>
                <ion-col col-6>
                  <span>Fecha:</span>&nbsp;<b>{{ tx.created_at | date: 'dd-MM' }}</b>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-6></ion-col>
                  <ion-col col-6>
                    <span>Hora:</span>&nbsp;<b>{{ tx.created_at | date: 'hh:mm aaa' }}</b>
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>

</ion-content>
