page-common-register-account {
    /deep/ ion-datetime , ion-datetime{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .login {
        &__password{
            &__toggler{
                position: absolute;
                right: 30px;
                top: 1px;
                ion-icon{
                    font-size: 30px;
                }
            }
        }
    }
}
