@import "../../styles/2-tools/mixins/border.scss";
@import "../../styles/1-settings/index.scss";

page-quote {
    .wapper_quote{
        display: flex;
        justify-content: center;
        align-content: center;
        color: #ffffff;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .sections_container{
        background-color: white;
        border-radius: 10px;
        color: black;
        width: 265px;
        margin: auto;
        position: relative;
        min-height: 35px;
        &--currencies{
            height: 110px;;
        }
        .box_option{
            // padding: 10px 10px;
            // display: inline-block;

            .box_symbol{
                width: 44px;
                height: 31px;
                text-align: center;
                padding-top: 7px;
            }
            &--top{
                // width: 80px;
            }
        }

        .right_line{
            border-right: 1px solid $accent-color;
        }

        .button_exchange{
            width: 35px;
            height: 35px;
            border-radius: 50px;
            background-image: url('../../assets/imgs/exchange.png');
            background-position: center;
            background-size: cover;
            position: absolute;
            top: 14px;
            left: 43%;
            &--top{
                left: 49%;
                top: 50%;
                height: 35px;
                width: 35px;
                transform: translate(-50%,-50%);
            }
        }
    }

    .box_flag{
        width: 30px;
        height: 20px;
        background-size: cover;
    }
    .flag_usa{
        background-image: url('../../assets/imgs/flags/usa-flag.png');
    }

    .flag_peru{
        background-image: url('../../assets/imgs/flags/peru-flag.png');
    }

    .input_currency{
        border-bottom: 1px solid #bbb;
        height: 21px;
        text-align: center;
        border-radius: 0px !important;
        width: 70px;
    }

    .btn_next{
        padding: 10px 15px;
        background-color: $accent-color;
        color: white;
        font-weight: bold;
        letter-spacing: 1.1px;
    }

    ion-select{
        height: 31px;
        width: 100px;
        padding: 8px !important;
        max-width: unset;
    }
    .select-currency, ion-select{
        height: 38px;
        font-size: 20px;
    }
    ion-select.currencyBig /deep/ .select-text{
        font-size: 1.1em;
    }
}
