<ion-header profile-background-color>
  <ion-navbar>
    <div class="flex-row-layout ai-center">
      <ion-title>Inicio</ion-title>
      <span class="flex"></span>
      <ion-title class="brand">OTC</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding class='page'>
  <div>
    <div>
      <stepper [currentStep]="1"></stepper>
      <div>
        <div class='wapper_quote'>La forma más segura de comprar y vender tu dinero</div>
        <div>
          <div class='text-center text-muted'>Cotiza</div>
          <div class="spacer-20"></div>
          <div class="sections_container flex-row-layout">
            <div class="box_option right_line box_option- flex-50 text-center flex-row-layout jc-center ai-center">
              <span>{{ operation == 'V' ? 'Tengo' : 'Quiero' }}</span>
            </div>
            <div class="button_exchange button_exchange--top text-center flex-row-layout ai-center" 
            (click)="onChangeQuieroTengo()"></div>
            <div class="box_option box_option--top flex-50 text-center flex-row-layout jc-center ai-center">
              <span>{{ operation == 'V' ? 'Quiero' : 'Tengo' }}</span>
            </div>
          </div>
          <div class="spacer-20"></div>
          <div class="sections_container sections_container--currencies flex-row-layout">
            <div class="box_option right_line flex-col-layout ai-center jc-center flex-50">
              <ion-row justify-content-center align-items-center>
                <ion-col col-auto>
                  <ion-select [(ngModel)]="selectedCurrencyLeft" class="input fill-width" 
                  [class.currencyBig]="selectedCurrencyLeft.code == 'USD'"
                  [selectOptions]="{ title: 'Monedas disponibles' }"
                  (ngModelChange)="onCurrencyChange(selectedCurrencyLeft,'selectedCurrencyRight')">
                    <ng-container *ngFor="let currency of currencyList">
                      <ion-option [value]="currency" *ngIf="showCurrency(currency,'left')">
                        <span>{{ currency.symbol }}</span>
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-col>
                <ion-col col-auto class="no-padding">
                  <!-- <div [ngClass]="{'box_flag': true,
                                  'flag_peru': selectedCurrencyLeft.symbol == 'S/.',
                                  'flag_usa': selectedCurrencyLeft.symbol == '$'}"></div> -->
                  <div class="box_flag" [style.backgroundImage]="getCurrencyCountryFlag(selectedCurrencyLeft)"></div>
                </ion-col>
              </ion-row>
              <ion-row justify-content-center>
                <ion-col col-auto>
                  <!-- <input class='input_currency' type="text" [(ngModel)]="cant" numberFormatter> -->
                  <input class='input_currency' type="number" step="0.01" [(ngModel)]="cant"
                  #quantityInput>
                </ion-col>
              </ion-row>
            </div>
            <div class="box_option flex-col-layout ai-center jc-center flex-50">
              <ion-row justify-content-center align-items-center>
                <ion-col col-auto>
                  <!-- <div class="box_symbol">
                    <span>{{ selectedCurrencyLeft.symbol }}</span>
                  </div> -->
                  <ion-select [(ngModel)]="selectedCurrencyRight" class="input fill-width" 
                  [class.currencyBig]="selectedCurrencyRight.code == 'USD'"
                  [selectOptions]="{ title: 'Monedas disponibles' }"
                  (ngModelChange)="onCurrencyChange(selectedCurrencyRight,'selectedCurrencyLeft')">
                    <ng-container *ngFor="let currency of currencyList">
                      <ion-option [value]="currency" *ngIf="showCurrency(currency,'right')">
                        <span>{{ currency.symbol }}</span>
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-col>
                <ion-col col-auto class="no-padding">
                  <!-- <div [ngClass]="{'box_flag': true,
                                  'flag_peru': selectedCurrencyLeft.symbol != 'S/.',
                                  'flag_usa': selectedCurrencyLeft.symbol != '$'}"></div> -->
                  <div class="box_flag" [style.backgroundImage]="getCurrencyCountryFlag(selectedCurrencyRight)"></div>
                </ion-col>
              </ion-row>
              <ion-row justify-content-center>
                <ion-col col-auto>
                  <button class="btn_next" (tap)='nextPage()'>
                    <span>Siguiente</span>
                  </button>
                </ion-col>
              </ion-row>
            </div>
            <!-- <div class="button_exchange" (click)="onChangeCurrencies()"></div> -->
          </div>
        </div>      
      </div>
      <div class="spacer-25"></div>
      <div class="spacer-25"></div>
      <div class='text-amount text-center'>
        Se aceptan montos como tope máximo ${{ 10000 | number }} o <br> el equivalente en soles. De lo contrario, realice más <br> transacciones.
      </div>
      <div class="spacer-30"></div>
    </div>
  </div>
</ion-content>


<!-- <ion-content padding class='page'>
  <div>
    <div class="">
      <stepper [currentStep]="1"></stepper>
      <div>
        <div class='wapper_quote'>La forma mas segura de comprar y vender su dinero</div>
        <div class='text-center text-muted'>¿Qué desea hacer?</div>
        <div class="quote__select-buy">
          <ion-row [(ngModel)]="checkButton" radio-group class="fill-width">
            <ion-col col-6>
              <div class="flex-row-layout ai-center jc-flex-end">
                <ion-radio mode="md" color="secondary" [value]="0"></ion-radio>
                <div (tap)="checkButton=0">&nbsp;&nbsp;Compra</div>
              </div>
            </ion-col>
            <ion-col col-6>
              <div class="flex-row-layout ai-center">
                <div class="spacer-h-15"></div>
                <ion-radio mode="md" color="secondary" [value]="1"></ion-radio>
                <div (tap)="checkButton=1">&nbsp;&nbsp;Venta</div>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="spacer-30"></div>
        <div class='text-center text-muted'>¿Qué cantidad?</div>
        <div class="spacer-10"></div>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <ion-select [(ngModel)]="selectedCurrencyLeft" class="input fill-width"
            [selectOptions]="{ title: 'Monedas disponibles' }">
              <ion-option [value]="currency" *ngFor="let currency of currencyList">
                {{ currency.symbol }}
              </ion-option>
            </ion-select>              
          </ion-col>
          <ion-col col-auto>
            <input class='quote__cant-currency' type="text" [(ngModel)]="cant" numberFormatter >
          </ion-col>
        </ion-row>      
      </div>
      <div class="spacer-25"></div>
      <span>¡Recuerda!</span>
      <div class="spacer-10"></div>
      <div class="text-primary flex-row-layout jc-center">
        <div class="quote__remind">
          <p class="no-margin">
            Si <span class="text-secondary">compras</span> dólares, <b>pagas</b> en monedas de soles; <br>
            y si <span class="text-secondary">vendes</span> dólares, <b>recibes</b> en monedas de soles; <br>
          </p>
        </div>
      </div>
      <div class="spacer-25"></div>
      <div class='text-amount text-center'>
        Se aceptan montos como tope maximo ${{ 10000 | number }} o <br> el equivalente en soles de lo contrario, haga más <br> transacciones.
      </div>
      <div class="spacer-30"></div>
    </div>
    <div class="flex-row-layout jc-center">
      <button fluid ion-button color="secondary" (tap)='nextPage()'>Siguiente</button>
    </div>
  </div>
</ion-content> -->
