page-contact-us {
    .contact-us{
        background-image: url('/assets/imgs/backgrounds/modal_bottom_bk--opaque.png'), url('/assets/imgs/backgrounds/modal_top_bk--opaque.png');
        background-repeat: no-repeat, no-repeat;
        background-size: 200px, 200px;
        background-position: left -20px bottom 50px, right -20px top 50px;
    }

    .btn-number{
        a{
            text-decoration: none;
            color: white;
        }
    }
}
