@import "../../styles/1-settings/index";
@import "../../styles/2-tools/index";

page-common-view-profile {
    .viewProfile{
        &__avatar{
            $size: 150px;
            margin: 0 auto;
            width: $size;
            height: $size;
            border: 2px solid $accent-color;
            position: relative;
            @include borderRadius(50%);
            &.empty{
                background-size: 65%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &__add{
                width: 22px;
                position: absolute;
                top: 0px;
                right: 10px;
            }
        }
    }

    .box_label{
        display: inline-block;
        width: 80%;
    }

    .box_input{
        padding-left: 0;
        padding-top: 0;
        width: 80%;
        &.phone{
            text-align: center;
            border-bottom: 1px solid;
            border-radius: 0px !important;
        }
    }

    .box_icon{
        background-size: cover;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: sub;
    }

    .box_save{
        background-image: url('../..http://157.230.229.87:85/static/imgs/save.png');
    }

    .box_pencil{
        background-image: url('../..http://157.230.229.87:85/static/imgs/edit.png');
    }
}