@import "../../styles/1-settings/index";
@import "../../styles/2-tools/index";

page-common-view-profile {
    .viewProfile{
        &__avatar{
            $size: 150px;
            margin: 0 auto;
            width: $size;
            height: $size;
            border: 2px solid $accent-color;
            position: relative;
            @include borderRadius(50%);
            &.empty{
                background-size: 65%;
                background-position: center;
                background-repeat: no-repeat;
            }
            &__add{
                width: 22px;
                position: absolute;
                top: 0px;
                right: 10px;
            }
        }
    }
}