page-exchange-agent-request-details {
    .details{
        &__wrapper{
            width: 250px;
            margin: 0 auto;
        }
    }
    .countdown{
        width: 90px;
        font-weight: bold;
    }
}
