<ion-header profile-background-color>

    <ion-navbar hideBackButton>
        <div class="flex-row-layout ai-center">
          <ion-title>Inicio</ion-title>
          <span class="flex"></span>
          <ion-title class="brand">OTC</ion-title>
          <cancel-transaction-trigger (cancel)="onCancel()" [transaction]="transaction"></cancel-transaction-trigger>
        </div>
    </ion-navbar>

</ion-header>


<ion-content class="page commonTransferToOTC">
  <div class="fill-height flex-col-layout">
    <div class="flex scrollable no-padding" #contentToScroll>
      <current-notification-watcher [navCtrl]="navCtrl" [transaction]="transaction"></current-notification-watcher>
      <back-button [navCtrl]="navCtrl"></back-button>
      <div padding>
        <div class="spacer-30"></div>
        <stepper mode="exchange-agent" [currentStep]="4"></stepper>
        <p class="text-center">
          Por favor realice la transferencia o depósito del monto <br>
          correspondiente a cualquiera de las siguientes cuentas
        </p>
        <ion-row justify-content-center align-items-center>
          <ion-col col-auto>
            <p class="text-muted">Monto a <br> depositar</p>
          </ion-col>
          <ion-col col-3>
            <input class="text-center fill-width" type="text" readonly 
            [value]=" transaction.currencyToDeposit.symbol + ' ' + ( otcComission.content + transaction.amountToDeposit ) ">
          </ion-col>
          <ion-col col-auto class="text-muted">
            <p>Solicitud + <br> comisión</p>
          </ion-col>
        </ion-row>
        <div class="commonTransferToOTC__container">
          <ion-row align-items-center>
            <ion-col col-6>
              <p class="text-right"><b>Nombre de la cuenta:&nbsp;&nbsp;&nbsp;</b></p>
            </ion-col>
            <ion-col col-6>
              <input type="text" class="fill-width" readonly [value]="otcBusinessName.content">
            </ion-col>
          </ion-row>
          <ion-row align-items-center>
            <ion-col col-6>
              <p class="text-right"><b>RUC:&nbsp;&nbsp;&nbsp;</b></p>
            </ion-col>
            <ion-col col-6>
              <input type="text" class="fill-width" readonly [value]="otcRuc.content">
            </ion-col>
          </ion-row>
        </div>    
      </div>
      <p padding class="pb-0 pt-0">Nuestras cuentas:</p>
      <div class="commonTransferToOTC__banks">
        <div class="flex-row-layout ai-center">
          <div class="commonTransferToOTC__banks__item flex text-center" *ngFor="let bankAccount of otcBankAccountList"
          (tap)="selectedOtcBankAccount = bankAccount">
            <img [src]="bankAccount.bank.image.fileUrl" alt="">
          </div>
        </div>
      </div>
      <div class="commonTransferToOTC__container" *ngIf="!!selectedOtcBankAccount">
        <div class="spacer-15"></div>
        <ion-row align-items-center>
          <ion-col col-6>
            <ion-row align-items-center>
              <ion-col col-11>
                <div class="p-10 bk-white">
                  <img [src]="selectedOtcBankAccount.bank.image.fileUrl" alt="" class="full-width">
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-6>
            <div>
              <span class="text-muted">Número de cuenta</span><br>
              <input type="text" class="fill-width" readonly [value]="selectedOtcBankAccount.accountNumber">
            </div>
            <div class="spacer-5"></div>
            <div>
              <span class="text-muted">Tipo de cuenta</span><br>
              <input type="text" class="fill-width" readonly [value]="selectedOtcBankAccount.formattedAccountType()">
            </div>
            <div class="spacer-5"></div>
            <div>
              <span class="text-muted">Moneda</span><br>
              <input type="text" class="fill-width" readonly [value]="selectedOtcBankAccount.currency.name">
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="flex-auto no-padding">
      <div class="spacer-15"></div>
      <div class="flex-col-layout ai-center" padding>
        <div class="arrow-down" (tap)="scrollToBottom()"></div>
        <br>
        <button fluid ion-button color="secondary" (tap)="continue()">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</ion-content>
