@import "../../styles/1-settings/index";

page-common-transfer-to-otc {
    .backButton{
        position: relative;
        left: 0;
        margin-bottom: -35px;
    }    
    .commonTransferToOTC{
        &__container{
            max-width: 300px;
            margin: 0 auto;
        }
        &__banks{
            &__item{
                background-color: #FFF;
                padding: 5px;
                img{
                    height: 30px;
                }
            }
        }
        .prev__bank, .next__bank{
            height: 80%;
            position: absolute;
            top: 10%;
            z-index: 2;
            img{
                height: 100%;
            }
        }
        .prev__bank{
            left: 0;
        }
        .next__bank{
            right: 0;
        }
        .arrow-down{
            $arrow-size: 12px;
            width: 0; 
            height: 0; 
            border-left: $arrow-size solid transparent;
            border-right: $arrow-size solid transparent;
            border-top: $arrow-size solid $accent-color;
        }
        .arrow-top{
            $arrow-size: 12px;
            width: 0; 
            height: 0; 
            border-left: $arrow-size solid transparent;
            border-right: $arrow-size solid transparent;
            border-bottom: $arrow-size solid $accent-color;
        }
    }
}
