@import "../../styles/1-settings/index";

page-common-transfer-to-otc {
    .commonTransferToOTC{
        &__container{
            max-width: 300px;
            margin: 0 auto;
        }
        &__banks{
            &__item{
                background-color: #FFF;
                padding: 5px;
                img{
                    height: 30px;
                }
            }
        }
        .arrow-down{
            $arrow-size: 12px;
            width: 0; 
            height: 0; 
            border-left: $arrow-size solid transparent;
            border-right: $arrow-size solid transparent;
            border-top: $arrow-size solid $accent-color;
        }
    }
}
