.bk-white{
    background-color: #FFF;
}

.w-background-image{
    background-size: cover;
    background-position: center;
}

.w-background-image-top{
    background-size: cover;
    background-position: top;
}