<div class="fastSearchModal flex-col-layout jc-center fill-height">
  <div class="modal-content" *ngIf="!toleranceTimeHasPassed">
    <p class="text-center">
      <b>Buscamos tu tipo <br> de cambio al <br> instante. </b>
    </p>
    <div class="text-center">
      <img class="animated rotate" src="http://157.230.229.87:85/static/imgs/icons/loading.png" width="100" alt="">
    </div>
  </div>
  <div class="modal-content" *ngIf="toleranceTimeHasPassed">
    <p class="text-center">
      <b>¡Uy! está tardando más <br> de lo normal, por favor <br> siga esperando. </b>
    </p>
    <div class="text-center">
      <img class="" src="http://157.230.229.87:85/static/imgs/icons/wait_request.png" width="75" alt="">
    </div>
  </div>
</div>