<div class="couldNotParticipate flex-col-layout jc-center fill-height">
    <div class="modal-content">
    <div class="spacer-45"></div>
    <p class="text-center">
      <b>¡Por poquito!</b>
    </p>
    <p class="text-center no-margin">
      ¡Lo sentimos no has logrado <br> participar!
    </p>
    <p class="text-center no-margin">
      ¡Buena suerte para la próxima!
    </p>
    <div class="flex-col-layout ai-center" padding>
      <button fluid ion-button color="dark" (tap)="viewCtrl.dismiss()">
        Ok
      </button>
    </div>
  </div>
</div>