<div class="youHasNotBeenSelected flex-col-layout jc-center fill-height">
    <div class="modal-content">
    <div class="spacer-45"></div>
    <p class="text-center">
      <b>¡Lo sentimos!</b>
    </p>
    <p class="text-center no-margin">
      ¡El usuario ha optado por <br> otra opción!
    </p>
    <p class="text-center no-margin">
      Sigue atendiendo a nuevas <br> solicitudes.
    </p>
    <div class="spacer-45"></div>
    <div class="flex-col-layout ai-center" padding>
      <button fluid ion-button color="dark" (tap)="viewCtrl.dismiss()">
        Ok
      </button>
    </div>
  </div>
</div>